@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto&display=swap');

*{
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
}

.maindiv{
  background-color: #d35400;
  min-height: 100vh;
  width: 100vw;
}

.myuserdata{
  height: 35px;
  
}

.buttondata{
  border: none;
  background-color: #2980b9;
  height: 100%;
}

.inputdata{
  border: none;
  outline:none;
}

.mydivdata{
  background-color: #96bdc7;
}
.myedit{
  font-size: 180%;
  color: purple;
}

.mydelete{
  font-size: 180%;
  color: red;
}

.inputdata:focus{
  border: none;
  outline: none;
}
.mytitle{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 230%;
  color: white;


}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
